include *.cfg *.rst *.in
graft bobtemplates
graft docs
global-exclude *pyc
global-exclude tmp
global-exclude .tox
include *.GPL
include *.txt
include tox.ini
graft package-tests
graft skeleton-tests
global-exclude __pycache__

